body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(238,238,238);
}
#header {
    display: flex;
    position: fixed;
    top: 0;
    background-color: rgb(180, 180, 180);
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}
header img {
    width: 20%;
    height: 40%;
    min-width: 200px;
}
nav a {
    text-decoration: none;
    padding: 15px;
    font-size: large;
    font-weight: 700;
}
nav a:hover {
    background-color: orange;
    color: azure;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #header {
        flex-wrap: wrap;
    }
}

#email {
    width: 50%;
    max-width: 300px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

main {
    margin: 100px 15%;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit {
    margin-top: 10px;
    height: 30px;
    width: 150px;
    background-color: rgb(236, 236, 73);
    border-radius: 5px;
    border-style: none;
    font-weight: 900;
    cursor: pointer;
}

#submit:hover {
    background-color: orange;
    transition-duration: 1500ms;
}

.feature-alignment {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.font-style {
    font-size: 50px;
    color: orange;
    min-width: 150px;
    text-align: center;
}

@media (max-width: 768px) {
    .font-style {
        display: none;
    }
    .feature-description {
        min-width: 100%;
    }
}

#how-it-works {
    margin-top: 50px;
    text-align: center;
    z-index: 1;
}

#pricing {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.pricing-card {
    border: 1px solid black;
    border-radius: 5px;
    width: 33%;
    max-width: 280px;
    text-align: center;
    margin: 10px;
}

@media (max-width: 900px) {
    #pricing {
        flex-wrap: wrap;
    }
    .pricing-card {
        min-width: 285px;
    }
}

.card-title {
    background-color: rgba(180, 180, 180, 0.5);
    font-weight: 700;
    margin: 0;
    padding: 15px;
    height: 50px;
}

#pricing ul {
    list-style-type: none;
    padding: 0;
}

#pricing button {
    width: 100px;
    height: 40px;
    border-style: none;
    font-weight: 900;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(236, 236, 73);
    cursor: pointer;
}

#pricing button:hover {
    background-color: orange;
    transition-duration: 1500ms;
}

footer {
    margin: 7.5% 15% 0 15%;
    padding-bottom: 5px;
    background-color: rgba(180, 180, 180, 0.5);
    text-align: right;
}

footer div {
    display: flex;
    justify-content: end;
}

footer div p {
    padding: 0 10px;
}